NODE_ENV=development
SERVICE_NAME=api-service
API_VERSION=1
PORT=3000
API_URL=http://localhost:8083
API_TIMEOUT=1000000
CLIENT_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:3001

REQ_LOGGING=true
LOG_DIR=./logs

MONGODB_URI=mongodb+srv://aaaaaaaaaa:aaaaaaaaaaaa@travel.eihfl.mongodb.net/
MONGO_DB_NAME=newdatabase

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://default:aaaaaaaa@aaaa.proxy.rlwy.net:24777
REDIS_GLOBAL_PREFIX=support-it

CLOUDINARY_CLOUD_NAME=dano2vyry
CLOUDINARY_API_KEY=aaaaaaaaaaaaaa
CLOUDINARY_API_SECRET=aaaaaaaaaaaaaaaaaaaa

BULL_PREFIX=support-it

THROTTLE_TTL=60000
THROTTLE_LIMIT=10

ADMIN_SALT_ROUND=11

# JWT tokens
JWT_PRIVATE_KEY=aaaaaaaaaaaaaaaaaaaaaaaa
JWT_PUBLIC_KEY=aaaaaaaaaaaaaaaaa
JWT_ACCESS_TIME=600
JWT_CONFIRMATION_SECRET='random_string'
JWT_CONFIRMATION_TIME=3600
JWT_RESET_PASSWORD_SECRET='random_string'
JWT_RESET_PASSWORD_TIME=1800
JWT_REFRESH_SECRET='random_string'
JWT_REFRESH_TIME=604800

# Refresh token
REFRESH_COOKIE='cookie_name'
COOKIE_SECRET='random_string'
JWT_ACCESS_SECRET='secret'
JWT_EXPIRES_IN=3600

# Email config
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=hrmanagement2003@gmail.com
EMAIL_PASSWORD=aaaaaaaaaaaaaaaaaaaaaaa

# DigitalOcean configuration
DIGITAL_OCEAN_PUBLIC_BUCKET=tma-storage
DIGITAL_OCEAN_REGION=ap-southeast-1
DIGITAL_OCEAN_ENDPOINT=https://sgp1.digitaloceanspaces.com
DIGITAL_OCEAN_ACCESS_KEY_ID=aaaaaaaaaaaaaaaaaaa
DIGITAL_OCEAN_ACCESS_KEY=aaaaaaaaaaaaaaaaaaaa
CDN_URL=https://tma-storage.sgp1.digitaloceanspaces.com

# Google config
GOOGLE_CLIENT_ID=aaaaaaaaaaaaaaaa
GOOGLE_CLIENT_SECRET=aaaaaaaaaaaa
GOOGLE_CANDIDATE_REDIRECT_URL=http://127.0.0.1:3000/auth/google/callback/candidate
GOOGLE_RECRUITER_REDIRECT_URL=http://127.0.0.1:3000/auth/google/callback/recruiter
GOOGLE_ADMIN_REDIRECT_URL=http://127.0.0.1:3000/auth/google/callback/admin
GOOGLE_AUTHORIZATION_URL=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token

# OTP config
OTP_LENGTH=5
OTP_LIFE=180

# Bloom filter
BLOOM_FILTER_SIZE=100
BLOOM_FILTER_FALSE_POSITIVE_RATE=0.001

# Flask APIs
REVIEW_CV_URL=http://127.0.0.1:5000/review-cv
EXTRACT_CV_URL=http://127.0.0.1:5000/extract-cv-file
EXTRACT_JD_URL=http://127.0.0.1:5000/extract-jd-file
EXTRACT_JD_TEXT=http://127.0.0.1:5000/extract-jd-text
EVALUATE_INTERVIEW_URL=http://127.0.0.1:5000/evaluate-answer
